
.dropdown-submenu {
    position: relative;
}


.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

html,
body {
    height:100%
}

#btnWithDrpd {
    padding-right: 0px;
    text-decoration: none;
}

.scrollnavbar {
    top: 0 !important;
    z-index: 99999999 !important;
    position: fixed !important;
    width: 100% !important;
}

.inputQuantity{
    width:80px;
}

#nav, .nav-wrapper {
    height:50px;
    background: inheret !important;
     z-index: 99999999 !important;
}

.nav_custom.cssbar{
  border-radius: 0 !important;
  z-index: 100 !important;
  }

.fieldsetStyle{
    border:5px solid green !important;
    padding:10px !important;
}

.norad{
    border-radius: 0 !important;
}

p, h1,h2,h3,h4,h5,h6, label, li {
        color:#513541;
        font-family:Georgia !important;

}
dd, dt{
        color:#513541;
        font-family:Georgia !important;
        font-size:150%;
}

.cRed {
        color:#513541;
}

.bgcBlue{
        background-color:#abbbc9;
        color:#513541;
}

.basketBorder{
        padding: 10px;
        border:5px solid  #513541;
}
.bRed{
        background-color:#8299AE;
        color:#3d252f;
}

#btnPS{
        background-color:#abbbc9;
        color:#513541;
}

#idfooter{
    border-top:1px  solid #3d252f;
    color:#513541;
    margin-top:10px;

}
#idfooter a{
    color:#513541;
}

#myCarousel{
        height:80%;
        width:80%;
        margin-right:50px;
        border:3px solid  #513541;
        border-radius: 5px !important;

}

#rightCar{
    border-radius: 0px 5px 5px 0px
}
#leftCar{
    border-radius: 5px 0px 0px 5px
}

.item{
        border-radius: 5px !important;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}