{% extends "home/header.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="container col-sm-5">
            <h2>Questions:</h2>
            <p class="pText">If you have any questions regarding the website or the store please view the FAQ page. If
                you still have questions feel free to email or call us to clarify anything. In addition if you would
                like to know the current price of a product, or don't see what you are looking for please call us for information.</p>
            <h2>Errors:</h2>
            <p class="pText">If you have any problems regarding this website or have found a glitch you would like to
                inform us about please let us know and we will try to get things working properly.</p>

        </div>
        <div class="hidden-xs col-sm-1">

        </div>
        <div style="margin-top:20px;" class="container col-sm-6">
            <p class="text-danger col-sm-offset-2">{{error_email}}</p>
            <p class="text-success col-sm-offset-2">{{msg_email}}</p>
            <form class="form" action="{% url 'contact:send' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_user_email">From:</label>
                    <input class="form-control" id="id_user_email" name="id_user_email" type="email"
                           value="{{ user.email }}" required>
                </div>
                <div class="form-group">
                    <label for="id_company_email">To:</label>
                    <input class="form-control" id="id_company_email" name="id_company_email" type="email"
                           value="{{ owner.email }}" disabled>
                </div>
                <div class="form-group">
                    <label for="id_subject">Subject:</label>
                    <input class="form-control" id="id_subject" name="id_subject" type="text"
                           value="{{ subject_post}}">
                </div>
                <div class="form-group">
                    <label for="id_content">Content:</label>
                    <textarea class="form-control" id="id_content" name="id_content">{{ content_post }}</textarea>
                </div>
                <input class="bRed btn pull-right" role="button" type="submit" value="Send">

            </form>
        </div>
    </div>
</div>
{% endblock %}